@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    background-color: #ffffff;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.button-here {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
}

.main-index {
    text-align: center;
}

.block-welcome-sedona {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/background-welcome.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.welcome-description {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

.advantages-list {
    color: #ffffff;
    background-color: #83B3D3;;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-minor-list {
    color: #333333;
}

.minor-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.minor-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/background-catalog.jpg");
}

.search {
    text-align: center;
}

.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.search-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.button-search {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background: #756257;
    text-decoration: none;
}

.subscribe-main {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/background-subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.subscribe-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #83B3D3;
}

.footer-contacts {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}